.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
    padding: 10px;
    margin: 10px;
    font-size: 1.5rem;
}

.formItem {
    justify-content: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
    height: 50px;
}

.questionField {
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
}

.inputField {
    justify-content: center;
    height: 40px;
    font-size: 1.2rem;
    border: 1px solid #878787;
    border-radius: 5px;
    padding: 5px;
}

.question {
    margin: 20px;
    margin-left: 0;
    /* display: flex; */
}

.margin {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #878787;
    border-radius: 10px;
    background-color: rgb(51, 51, 51);
}

.qinputField {
    /* justify-content: left; */
    height: 80px;
    width: 600px;
    /* font-size: 1.5rem; */
    align-items: flex-start;
    border: 1px solid #878787;
    border-radius: 5px;
    padding: 5px;
    /* margin-bottom: 50px; */
}

.formAdd {
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 5px;
    border: 1px solid #878787;
    border-radius: 5px;
    margin-top: 0px;
    font-size: 1.5rem;
}

.submitbutton {
    height: 40px;
    width: 100px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #878787;
    border-radius: 5px;
    font-size: 1.2rem;
}