/* add navbar style */
.nav {
    height: 50px;
    padding: 10px;
    /* background-color: #333; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 500px;
}

.nav ul li a {
    text-transform: capitalize;
    text-decoration: none;
    color: rgb(252, 252, 252);
    /* background-color: rgba(255, 255, 255, 0.134); */
    /* border: 1px solid rgb(131, 131, 131); */
    /* padding: 8px; */
    margin: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;


}

.nav ul li a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(219, 219, 219, 0.986);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;

}

.colorRed {
    color: rgb(248, 56, 22);
}

.colorGreen {
    color: rgb(1, 187, 41);
}

.rightAlign {
    margin-left: auto;
    justify-content: flex-end;
}

.loginContainer {
    font-size: 1.2rem;
    padding: 5px;
    margin: 5px;
    /* border: 1px solid #858585; */
    /* background-color: rgba(255, 255, 255, 0.134); */
    background-color: rgba(125, 125, 125, 0.327);
    color: rgb(251, 251, 251);
    backdrop-filter: blur(10px);
    border-radius: 5px;
}

.loginContainer:hover {
    font-size: 1.2rem;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: rgb(10, 10, 10);
    background-color: rgba(219, 219, 219, 0.986);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

/* Path: styles\QuestionBank.module.css */
.qcard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    background-color: #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: auto;
}

.qcard:hover,
.qcard:focus,
.qcard:active {
    color: #0070f3;
    border-color: #0070f3;
}

.qcard h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.qcard p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.qContainer {
    /* display: flex; */
    border: 1px solid #030303;
    background-color: #eaeaea;
    color: black;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    /* max-width: 800px; */
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    line-height: 0;
    font-size: 1.5rem;
    /* max-width: 800px; */
}

.alignCenter {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    /* line-height: 0; */
    /* max-width: 800px; */
}

.largeFont {
    font-size: 1.5rem;
    /* display: flex; */
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    /* line-height: 0; */
    /* max-width: 800px; */
}

.alignRight {
    margin-left: auto;
    padding-left: auto;
    justify-content: flex-end;
}